@font-face {
    font-family: 'VTBGroupUI-Bold';
    src: url('../fonts/VTBGroupUI-Bold/VTBGroupUI-Bold.eot');
    src: url('../fonts/VTBGroupUI-Bold/VTBGroupUI-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VTBGroupUI-Bold/VTBGroupUI-Bold.woff2') format('woff2'),
         url('../fonts/VTBGroupUI-Bold/VTBGroupUI-Bold.woff') format('woff'),
         url('../fonts/VTBGroupUI-Bold/VTBGroupUI-Bold.ttf') format('truetype'),
         url('../fonts/VTBGroupUI-Bold/VTBGroupUI-Bold.svg#VTBGroupUIWeb-Bold') format('svg');
}

/* VTBGroupUI-DemiBold */
@font-face {
    font-family: 'VTBGroupUI-DemiBold';
    src: url('../fonts/VTBGroupUI-DemiBold/VTBGroupUI-DemiBold.eot');
    src: url('../fonts/VTBGroupUI-DemiBold/VTBGroupUI-DemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VTBGroupUI-DemiBold/VTBGroupUI-DemiBold.woff2') format('woff2'),
         url('../fonts/VTBGroupUI-DemiBold/VTBGroupUI-DemiBold.woff') format('woff'),
         url('../fonts/VTBGroupUI-DemiBold/VTBGroupUI-DemiBold.ttf') format('truetype'),
         url('../fonts/VTBGroupUI-DemiBold/VTBGroupUI-DemiBold.svg#VTBGroupUIWeb-DemiBold') format('svg');
}

/* VTBGroupUI-Light */
@font-face {
    font-family: 'VTBGroupUI-Light';
    src: url('../fonts/VTBGroupUI-Light/VTBGroupUI-Light.eot');
    src: url('../fonts/VTBGroupUI-Light/VTBGroupUI-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VTBGroupUI-Light/VTBGroupUI-Light.woff2') format('woff2'),
         url('../fonts/VTBGroupUI-Light/VTBGroupUI-Light.woff') format('woff'),
         url('../fonts/VTBGroupUI-Light/VTBGroupUI-Light.ttf') format('truetype'),
         url('../fonts/VTBGroupUI-Light/VTBGroupUI-Light.svg#VTBGroupUIWeb-Light') format('svg');
}

/* VTBGroupUI-Medium */
@font-face {
    font-family: 'VTBGroupUI-Medium';
    src: url('../fonts/VTBGroupUI-Medium/VTBGroupUI-Medium.eot');
    src: url('../fonts/VTBGroupUI-Medium/VTBGroupUI-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VTBGroupUI-Medium/VTBGroupUI-Medium.woff2') format('woff2'),
         url('../fonts/VTBGroupUI-Medium/VTBGroupUI-Medium.woff') format('woff'),
         url('../fonts/VTBGroupUI-Medium/VTBGroupUI-Medium.ttf') format('truetype'),
         url('../fonts/VTBGroupUI-Medium/VTBGroupUI-Medium.svg#VTBGroupUIWeb-Medium') format('svg');
}

/* VTBGroupUI-Regular */
@font-face {
    font-family: 'VTBGroupUI-Regular';
    src: url('../fonts/VTBGroupUI-Regular/VTBGroupUI-Regular.eot');
    src: url('../fonts/VTBGroupUI-Regular/VTBGroupUI-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VTBGroupUI-Regular/VTBGroupUI-Regular.woff2') format('woff2'),
         url('../fonts/VTBGroupUI-Regular/VTBGroupUI-Regular.woff') format('woff'),
         url('../fonts/VTBGroupUI-Regular/VTBGroupUI-Regular.ttf') format('truetype'),
         url('../fonts/VTBGroupUI-Regular/VTBGroupUI-Regular.svg#VTBGroupUIWeb-Regular') format('svg');
}

body {
    font-family: 'VTBGroupUI-Regular', Arial, sans-serif; 
    background-color: #fff;
    color: #002882;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-content {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    font-family: 'VTBGroupUI-Bold', Arial, sans-serif; 
}

.user-form {
    font-family: 'VTBGroupUI-Regular', Arial, sans-serif;
}

.user-form label, 
.user-form select, 
.user-form input {
    font-family: 'VTBGroupUI-Regular', Arial, sans-serif;
}

header {
    background-color: #002882; 
    padding: 10px 0;
    text-align: center;
}

header img {
    width: 150px; 
}

.input-fields, .result {
    padding: 20px;
    width: 97%;
    margin: 10px auto;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    color: #002882;  
}

select, input[type="button"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #e0e0e0;
}

input[type="button"] {
    background-color: #002882; 
    color: #fff;
    cursor: pointer;
    border: none;
}

input[type="button"]:hover {
    background-color: #002882; 
}

.map {
    flex-grow: 1; 
    width: 100%;
    height: auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 22px; 
}

nav ul li a:hover {
    color: #aaa;
}

footer {
    background-color: #002882; 
    color: white;
    padding: 20px 0;
    text-align: center;
    flex: 0 0 5vh; 
}

footer p {
    text-align: center;
    margin: 0;
    font-size: 14px;
}
.form-group {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.form-group1 {
    flex: 1;
    margin: 10px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0; 
    
}
.form-group1 input[type="button"] {
    transform: scale(1.05);
    width: 100%; 
    box-sizing: border-box; 
    margin: 0; 
    margin-top: 10%;
    background: linear-gradient(90deg,rgb(0, 129, 193), #002882 );
    border: none;
    color: #fff; 
    transition: all 0.3s ease; 
    display: block;
    text-align: center;
}

.form-group1 input[type="button"]:hover {
    transform: scale(1.06);
    background: linear-gradient(90deg, #002882, #002882);
}

.user-form {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    flex-wrap: wrap;
}

input[type="button"] {
    width: auto;
    margin-top: 20px;
}

#calculate-route {
    border-radius: 8px;  
    margin: auto 0;
}

#partial-data-container {
    display: flex;
    justify-content: space-between; /* это обеспечит равномерное распределение элементов по ширине контейнера */
    align-items: center; /* это выровнит элементы по вертикали */
    margin-top: 0px; /* добавить отступ сверху для разделения от других элементов, если это необходимо */
}

#bank-1{
    background: linear-gradient(90deg, #002882,  rgb(0, 129, 193));
    font-family: 'VTBGroupUI-Regular', Arial, sans-serif;
    color: #fff;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    border-radius: 8px;
    flex: 1; /* это обеспечит равномерное распределение по ширине контейнера */
    text-decoration: none; /* если это ссылки, то уберем подчеркивание */
    box-sizing: border-box; /* это учитывает padding и border в общей ширине элемента */
    margin: 10px 10px; /* добавляем горизонтальные отступы */
}
#bank-2 {
    background: linear-gradient(90deg, rgb(0, 129, 193),  rgb(0, 129, 193));
    font-family: 'VTBGroupUI-Regular', Arial, sans-serif;
    color: #fff;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    border-radius: 8px;
    flex: 1; /* это обеспечит равномерное распределение по ширине контейнера */
    text-decoration: none; /* если это ссылки, то уберем подчеркивание */
    box-sizing: border-box; /* это учитывает padding и border в общей ширине элемента */
    margin: 10px 10px; /* добавляем горизонтальные отступы */
}
#bank-3 {
    background: linear-gradient(90deg,rgb(0, 129, 193), #002882 );
    font-family: 'VTBGroupUI-Regular', Arial, sans-serif;
    color: #fff;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    border-radius: 8px;
    flex: 1; /* это обеспечит равномерное распределение по ширине контейнера */
    text-decoration: none; /* если это ссылки, то уберем подчеркивание */
    box-sizing: border-box; /* это учитывает padding и border в общей ширине элемента */
    margin: 10px 10px; /* добавляем горизонтальные отступы */
}
#bank-1:hover, #bank-2:hover, #bank-3:hover {
    font-family: 'VTBGroupUI-Regular', Arial, sans-serif;
    background: linear-gradient(90deg, #002882, #002882); /* измените цвет фона на тот, который вам нужен для эффекта hover */
    transform: scale(1.06);
    z-index: 1;
}