
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=e3d4b36e-4a55-4e7f-89b3-47d2237ff587&lang=ru_RU" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>

<!-- Хедер -->
<header>
    <title>Главная страница</title>
    <div class="container">
        <img src="{{ url_for('static', filename='image/logo.png') }}" alt="Логотип">
        <!-- Здесь вы можете добавить навигационное меню или другую информацию -->
        <nav>
            <ul>
                <li><a href="https://www.vtb.ru/">Официальный сайт</a></li>
                <li><a href="#">Услуги</a></li>
                <li><a href="https://www.vtb.ru/about/contacts/">Контакты</a></li>
            </ul>
        </nav>
    </div>
</header>

    <main class="main-content">
        <div class="input-fields">
            <form method="POST" class="user-form">
                
                <!-- Тип клиента -->
                <div class="form-group">
                    <label for="user_type">Тип клиента:</label>
                    <select id="user_type" name="user_type">
                        <option value="individual">Физическое лицо</option>
                        <option value="business">Юридическое лицо</option>
                    </select>
                </div>
        
                <!-- Выбор услуги -->
                <div class="form-group">
                    <label for="service">Выбор услуги:</label>
                    <select id="service" name="service">
                        <option value="valuta">Обмен валюты</option>
                        <option value="vupiska">Получение выписки</option>
                        <option value="kredit">Оформление кредита</option>
                    </select>
                </div>
        
                <!-- Транспорт -->
                <div class="form-group">
                    <label for="transport">Транспорт:</label>
                    <select id="route-type" name="transport">
                        <option value="pedestrian">Пешком</option>
                        <option value="auto">Личный транспорт</option>
                        <option value="masstransit">Общественный транспорт</option>
                    </select>
                </div>
                
                <div class="form-group1">
                    <input type="button" value="Определить подходящий банк" id="calculate-route">
                </div>
                
            </form>
        </div>

        {% if user_data %}
        <div class="result">
            <p>Лучшие банки:</p>
            <ul>
                {% for bank in best_banks %}
                <li>{{ bank['name'] }} (Ставка: {{ bank['rate'] * 100 }}%)</li>
                <p>Описание: {{ bank['description'] }}</p>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div id="map" class="map"></div>

    </main>

    <footer>
        <div class="container">
            <p>&copy; ВТБ Банк, 2023. Все права защищены.</p>
            <!-- Здесь вы можете добавить ссылки на соц. сети, контактную информацию и т.д. -->
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
    </html>
